* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style */
.fontfamily-open-sans {
    font-family: "Open Sans", sans-serif;
}

.color-orange {
    color: orange;

}

.btn {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fd6e0a;
    padding: 18px 35px;
    color: white;
    cursor: pointer;
}

/* Main style */

header {
    background-color: #fff8f3;
    margin-top: 20px;
    background-image: url(../images/developer.png), 
    url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    width: 71%;
    max-width: 1270px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: 45px;
}

.menu {
    display: flex;
    gap: 71px;
    align-items: center;
    list-style: none;
}

.menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* Hero section */
#banner {
    border: 1px solid red;
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h1 {
    font-size: 40px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h2 {
    font-size: 30px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content p {
    font-size: 17px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 10px;
}

#banner .banner-img img {
    max-width: 585px;
    vertical-align: middle;
}

/* About section */
.about{
    padding-top: 130px;
}
.about-container{
    background-color: #fff8f3;
    max-width: 1270px;
    margin: 0px auto;
    text-align: center;
    padding: 150px 178px;
}
.about-container .about-heading{}
.about-container .about-heading h1{}
.about-container .about-heading p{
    margin: 10px;
}

.about-info{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin-top: 30px;
}
.about-info .info-card{}
.about-info .info-card p{
    font-size: 20px;
    font-weight: 500;
    color: #afadad;
}
.about-info .info-card h2{
    font-size: 25px;
}








